target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Logs ###
/sharing-bot-logs/

### Spring Boot Configs ###
application-dev.yml
application-prod.yml

### Docker Compose Files ###
/docker-compose.dev.yml
/docker-compose.prod.yml

### Caddy Configs ###
/Caddyfile-dev
/Caddyfile-prod

### Environment Configs ###
/prod.env
/dev.env