{$MAIN_DOMAIN} {
    # Раскомментируйте нижестоящие строки c настройками
    # tls, если у вашего сайта следующий Top Level Domain:
    # - .af Афганистан
    # - .by Белоруссия
    # - .cu Куба
    # - .er Эритрея
    # - .gn Гвинея
    # - .ir Исламская Республика Иран
    # - .kp Корейская Народная Демократическая Республика
    # - .lr Либерия
    # - .ru Российская Федерация
    # - .ss Южный Судан
    # - .sy Сирийская Арабская Республика
    # - .zw Зимбабве

    # tls {
    #     ca https://acme-v02.api.letsencrypt.org/directory
    # }

    encode gzip
    reverse_proxy {$REST_SERVICE_HOSTNAME}:{$REST_SERVICE_PORT}
}